<p>Ticket group id: <%=@ticket_group.id%></p>
<p>group section: <%=@ticket_group.section%></p>
<p>group row: <%=@ticket_group.row%></p>


<table>
	<tr>
		<th>  <b>Event:</b>
		</th>
		<th><b>Artist:</b>
		</th>
		<th><b>Venue:</b>
		</th>
		<th><b>Price:</b>
		</th>
		<th>
			<b>Kind:</b>
		</th>
		<th>Seat:</th>
		<th><b>Sold:</b>
	  	</th>
	
			
<%for ticket in @tickets%>
<tr>
	<td>
  <%= link_to ticket.event.name, ticket.event %>
	</td>
	<td>
  <%= ticket.artist.name %>
	</td>
	<td>
  <%= ticket.venue.name %>
	</td>
	<td>
  $<%= ticket.list %>
	</td>
	<td>
  <%= ticket.kind %>
	</td>
	<td>
  <%= ticket.seat_number %>
	</td>
	<td>
  <% if ticket.sold? %><%=link_to_or((can? :edit, ticket),"yes", 'yes', "/sales/show?id=#{ticket.id}")%><%else%><%=link_to_or((can? :edit, ticket),"no", 'no', "/sales/new?ticket_id=#{ticket.id}")%><%end%>
	</td>

	<td>
<%= link_to_or((can? :edit, ticket),"", 'Edit', edit_ticket_path(ticket)) %> </td>
	<td>
	</td>
</tr>
<%end%>
</table>
<%= link_to 'Back', tickets_path %>
