<p class="ajax_container"><%=link_to_unless((params[:artist_scope].nil? || params[:artist_scope]=='all'),'All my artists', "/artists/user_artists?artist_scope=all", :remote=>true)%> | <%=link_to_unless(params[:artist_scope]=="upcoming", 'upcoming artists', "/artists/user_artists?artist_scope=upcoming", :remote=>true)%></p>
<table>
	<thead>
		<tr>
			<td>name</td>
			<td>mbid</td>
			<td>on tour until</td>
		</tr>
	</thead>
	<tbody>
		<%@artists.uniq!%>
		<%if !@artists.empty?%>
		<%for artist in @artists%>
		<tr>
			<td><%=artist.name%></td>
			<td><%=artist.mbid%></td>
			<td><%if artist.on_tour_until!=nil%><%=artist.on_tour_until.strftime("%m/%d/%Y")%><%end%></td>
	
		</tr>
		<%end%>
		<%end%>
	</tbody>
</table>