<% content_for :javascript do %>
<script type="text/javascript">
$(function(){
	var $total=0;
	$total=$(".totals").text();
	$("#invoice_total").val($total);
})
$("#new_cust").click(function(){
	$("#new_cust_form").show()
})
</script>
<%end%>

<%= form_for @invoice do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :customer_id %><br />
    <%= f.select :customer_id, @top_customers.collect {|c| [ c.fname, c.id ]} %>
or <%=link_to "Search", "/search/customers"%> | <%=link_to "Add a new one", new_customer_path(:sales=>params[:sales]), :id=>'new_cust'%>
	
  </p>
	<p>
		<%= f.label :total %><br />
	    <%= f.text_field :total%>
	</p>
	<%=hidden_field_tag :sales_ids, params[:sales]%>
	
  <p><%= f.submit %></p>
<% end %>
<iframe id="new_cust_form" style="display:none;" src='/customers/new'></iframe>