<% title "New Invoice" %>
<h2>Confirm this information, then press create!</h2>
<span>If you need to edit anything, use the edit sale button</span>
<table>
<thead>
  <tr>
	<td>Edit</td>
    <td>Date</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>section</td>
    <td>row</td>
	<td>ids</td>
	<td>total price</td>
  </tr>
</thead>
<%for sale in @sales%>
<%group=TicketGroup.find(sale.ticket_group_id)%>
<tr>
	<td><%=link_to "Edit", edit_sale_path(sale)%></td>
    <td><%= sale.date %></td>
    <td><%= sale.price %></td>
    <td><%= sale.quantity %></td>
	<td><%= group.section%></td>
	<td><%= group.row%></td>
	<td>
<% sale.tickets.each do |ticket| %>

  
     <%= ticket.id %> 
<%end%>
	</td>
	<td class="totals"><%=sale.price*sale.quantity%></td>
<% end %>
</tr>
</table>

<%= render 'form' %>

