<% title "Invoice" %>

<%@c=current_user.commissions
@total=@invoice.total
if @c!=[]
for entry in @c
	if entry.marketplace==@invoice.sales.first.marketplace
		commission=entry.commission rescue 0
	else
		commission=@invoice.sales.first.marketplace.commission rescue 0
	end
end
else
	commission=@invoice.sales.first.marketplace.commission rescue 0
end
if commission!=nil
@net_total=@total*(1-commission)
end%>
<h1>Sale complete!</h1>
<h2><%=@invoice.sales.first.tickets.first.event.name%></h2>
<table>
<thead>
  <tr>
    <td>Date</td>
    <td>Sale Price</td>
    <td>Quantity</td>
    <td>section</td>
    <td>row</td>
	<td>ids</td>
	<td>total revenue</td>
	<td>net rev</td>
	<td>Order Id</td>
	<td>paypal payment id</td>
  </tr>
</thead>
<%for sale in @invoice.sales%>
<%group=TicketGroup.find(sale.ticket_group_id)%>
<tr>
    <td><%= sale.date %></td>
    <td><%= sale.price %></td>
    <td><%= sale.quantity %></td>
	<td><%= group.section%></td>
	<td><%= group.row%></td>
	<td>
<% sale.tickets.each do |ticket| %>

  
     <%= ticket.id %> 
<%end%>
	</td>
	<td><%=@total%></td>
	<td><%=@net_total%></td>
		<td><%=sale.order_id%></td>
	<td><%if p=sale.paypal_payment_id.nil?%>
	<%=link_to 'add payment id', "/invoices/edit/#{@invoice.id}"%>
	<%else%>
	<%=sale.paypal_payment_id%>
	<%end%></td>
<% end %>
</tr>
</table>

<p>
  <%= link_to "Edit", edit_invoice_path(@invoice) %> |
  <%= link_to "Destroy", @invoice, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", invoices_path %>
</p>
