<%load_function "plebeosaur.map('seller')"%>


<%= form_for(@seller, :html=>{:id=>'form_contact'}) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :location, "What's a nearby landmark?" %><span class="helper_text"><a data-placement="below" href="#" class="btn alert" rel="popover" data-content="IE the blue lot by the obnoxious Georgia Tech fans">?</a></span>
<br />
    <%= f.text_area :location %> 
  </div>
  <div class="field">
    <%= f.label :lat, 'latitude' %>
	<span class="helper_text">
	<a data-placement="below" href="#" class="btn alert" rel="popover" data-content="we received this from your device and will use it to help buyers locate you.  You can update this at anytime if you change locals">?</a></span>
	<br />
    <%= f.text_field :lat %> 
  </div>
  <div class="field">
    <%= f.label :lng, 'longitude' %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :notes, "any specific notes you want a buyer to know?" %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :id=>'btn_submit' %>
  </div>
<% end %>
