<h1>Listing sellers</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Phone</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Location</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sellers.each do |seller| %>
  <tr>
    <td><%= seller.email %></td>
    <td><%= seller.phone %></td>
    <td><%= seller.first_name %></td>
    <td><%= seller.last_name %></td>
    <td><%= seller.location %></td>
    <td><%= seller.lat %></td>
    <td><%= seller.lng %></td>
    <td><%= seller.notes %></td>
    <td><%= link_to 'Show', seller %></td>
    <td><%= link_to 'Edit', edit_seller_path(seller) %></td>
    <td><%= link_to 'Destroy', seller, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seller', new_seller_path %>
