<div class="container_16">
	<div class="grid_16">
<h2><%=@seller.first_name%>'s seller info</h2>


<p>
  <b>Location:</b>
  <%= @seller.location %>
</p>

<p>
  <b>Lat:</b>
  <%= @seller.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @seller.lng %>
</p>

<p>
  <b>Notes:</b>
  <%= @seller.notes %>
</p>
	</div>
</div>
