<h1>Home#index</h1>

<%if current_user%>
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	$(function(){
		$(".ajax_container a").click(function(){
			$(this).parent().text("loading...");
		})
	})
	</script>



<div class="demo">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">My Sales</a></li>
		<li><a href="#tabs-2">My Events</a></li>
		<li><a href="#tabs-3">My Tickets</a></li>
		<li><a href="#tabs-4">My Venues</a></li>
		<li><a href="#tabs-5">My Artists</a></li>
	</ul>
	<div id="tabs-1">
		<div id="sales">
		<%=render :partial=>"/invoices/user_invoices"%>
		</div>
	</div>
	<div id="tabs-2">
		<div id="events">
		<%=render :partial=>"/events/user_events"%>
		</div>
		
	</div>
	<div id="tabs-3">
		<div id="tickets">
		<%=render :partial=>'/tickets/users_tickets'%>
		</div>
	</div>
	<div id="tabs-4">
		<div id="venues">
		<%=render :partial=>'/venues/user_venues'%>
		</div>
	</div>
	<div id="tabs-5">
		<div id="artists">
		<%=render :partial=>"/artists/user_artists"%>
		</div>
	</div>
</div>

</div><!-- End demo -->


<%else%>
<div>
	Events
</div>
<p>
<%= link_to "View All", events_path %> / 	<%= link_to "New", new_event_path %> 
</p>
<div>
	Artists
<p>
	<%= link_to "View All", artists_path %> / <%= link_to "New", new_artist_path %>
</p>
</div>
<div>
	Tickets
<p>
	<%= link_to "View All", tickets_path %> / <%= link_to "New", new_ticket_path %>
</p>
</div>
<div>
	Sales
<p>
	<%= link_to "View All", sales_path %> / <%= link_to "New", new_sale_path %>
</p>
</div>
<div>
	Venues
<p>
	<%= link_to "View All", venues_path %> / <%= link_to "New", new_venue_path %>
</p>
</div>
<%end%>