<p class="ajax_container"><%=link_to_unless((params[:event_scope].nil? || params[:event_scope]=='all'),'All my events', "/events/user_events?event_scope=all", :remote=>true)%> | <%=link_to_unless(params[:event_scope]=="upcoming", 'upcoming events', "/events/user_events?event_scope=upcoming", :remote=>true)%></p>
<table>
	<thead>
		<tr>
			<td>ID</td>
			<td>Date</td>
			<td>Name</td>
			<td>Artist</td>
			<td>Venue</td>
		</tr>
	</thead>
	<tbody>
		<%for event in @events%>
		<%artist=event.artist%>
		<%venue=event.venue%>
		<tr>
			<td><%=event.id%></td>
			<td><%=event.date.strftime("%m/%d/%Y")%></td>
			<td><%=event.name%></td>
			<td><%=link_to artist.name, "/artists/#{artist.id}"%></td>
			<td><%=link_to venue.name, "/venues/#{venue.id}"%></td>
		</tr>
		<%end%>
	</tbody>
</table>