

<table>
  <thead>
	<th>Name:</th>
 	<th>Date:</th>
	<th>Artist:</th>
	<th>Venue:</th>
	<th>Notes:</th>
	<th>Tickets:</th>
  </thead>
  <tbody>
	<tr>
		<td>
			 <%= @event.name %>
		</td>
		<td><%= @event.date %>
	  	</td>
		<td><%= @event.artist.name %>
	  	</td>
		<td><%= @event.venue.name %>
	  	</td>
		<td>
			<%= @event.notes %>
		</td>
		<td>
			<%=@quantity%>
			<br /><%=link_to_or((can? :create, Ticket), (link_to('Add', '#', :onclick=>'javascript:alert("you must be logged in!");')), 'Add Tickets', {:controller=>'tickets', :action=>'new', :event_id=>@event.id, :artist_id=>@event.artist.id,:venue_id=>@event.venue.id})%>
		</td>
    </tr>
   </tbody>
</table>


<%= link_to_or((can? :update, @event), "", 'Edit', edit_event_path(@event)) %> |

<%= link_to 'Back', events_path %>
