<%= form_for @customer do |f| %>
  <%= f.error_messages %>
<div>
	<h2>Enter customer information</h2>
	<div style="float:left; width:400px;">
  <p>
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </p>
<p>
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </p>
<p>
    <%= f.label :email, "Email" %><br />
    <%= f.email_field :email %>
  </p>
<p>
    <%= f.label :phone, "phone" %><br />
    <%= f.telephone_field :phone %>
  </p>
<p>
    <%= f.label :client_type, "customer type" %><br />
    <%= f.text_field :client_type %>
  </p>
</div>
<div style="float:left; width:400px;">
<p>
    <%= f.label :street, "street" %><br />
    <%= f.text_field :street %>
  </p>
<p>
    <%= f.label :city, "city" %><br />
    <%= f.text_field :city %>
  </p>
<p>
    <%= f.label :region, "region" %><br />
    <%= f.text_field :region %>
  </p>


</div>
<%=hidden_field_tag :sales, @sales%>
</div>
  <p style="clear:both;"><%= f.submit %></p>
<% end %>
