<%= form_for @customer do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :fname, "First Name" %><br />
    <%= f.text_field :fname %>
  </p>
<p>
    <%= f.label :lname, "Last Name" %><br />
    <%= f.text_field :lname %>
  </p>
<p>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </p>
<p>
    <%= f.label :street, "street" %><br />
    <%= f.text_field :street %>
  </p>
<p>
    <%= f.label :city, "city" %><br />
    <%= f.text_field :city %>
  </p>
<p>
    <%= f.label :region, "region" %><br />
    <%= f.text_field :region %>
  </p>
<p>
    <%= f.label :phone, "phone" %><br />
    <%= f.text_field :phone %>
  </p>
<p>
    <%= f.label :client_type, "Type of client" %><br />
    <%= f.text_field :client_type %>
  </p>
<%=hidden_field_tag :sales, @sales%>

  <p><%= f.submit %></p>
<% end %>
