<h1>Listing ratings</h1>

<table>
  <tr>
    <th>Trans rating</th>
    <th>Trans notes</th>
    <th>Accuracy</th>
    <th>Communication</th>
    <th>Cost</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Sale</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%= rating.trans_rating %></td>
    <td><%= rating.trans_notes %></td>
    <td><%= rating.accuracy %></td>
    <td><%= rating.communication %></td>
    <td><%= rating.cost %></td>
    <td><%= rating.seller_id %></td>
    <td><%= rating.buyer_id %></td>
    <td><%= rating.sale_id %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating', new_rating_path %>
