<%= form_for(@tour) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% @tour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artist_id %><br />
    <%= f.text_field :artist_id %>
  </div>
  <div class="field">
    <%= f.label :event_ids %><br />
    <%= f.text_field :event_ids %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
