<% content_for :javascript do %>
<script type="text/javascript">
$(function(){
	$(".view_seats").click(function(){
		var $id=$(this).attr("id");
		$("."+$id).toggle("slow");
	})
})
</script>
<%end%>

<p class="ajax_container"><%=link_to_unless((params[:ticket_scope].nil? || params[:ticket_scope]=='all'),'All my tickets', "/tickets/user_tickets?ticket_scope=all", :remote=>true)%> | <%=link_to_unless(params[:ticket_scope]=="unsold", 'unsold tickets', "/tickets/user_tickets?ticket_scope=unsold", :remote=>true)%></p>
<table>
  <tr>
    <th>Event</th>
    <th>Artist</th>
    <th>Venue</th>
    <th>Quantity</th>
	<th>Section</th>
	<th>Row</th>
    <th>Cost</th>
    <th style="width:90px;">Bought on</th>
    <th style="width:90px;">In hand</th>
    <th>Kind</th>
    <th style="width:90px;">Sold</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%if @ticket_groups%>
<% @ticket_groups.each do |group| %>
<%info=group.tickets.first%>
<tr>
    <td><%= info.event.date.strftime("%m/%d/%Y") rescue 'na' %></td>
    <td><%= info.artist.name %></td>
    <td><%= info.venue.name %></td>
    <td><%= group.quantity %></td>
    <td><%= group.section %></td>

    <td><%= group.row %></td>
    <td>$<%= info.cost %></td>
    <td><%= info.bought_on.strftime("%m/%d/%Y") %></td>
    <td><%= info.in_hand.strftime("%m/%d/%Y") %></td>
    <td><%= info.kind %></td>
	<td class="sold">
		<%sold_count=0
		group.tickets.each do |ticket|
			if ticket.sold?
				sold_count+=1
			end
		end%>
		<%=sold_count%> / <%= group.tickets.size%>
	</td>
    <td><%= info.notes %></td>
    <td><%= link_to 'View Seats', "javascript:void(0);", :id=>"#{group.id}", :class=>"view_seats" %></td>
    <td><%= link_to 'Edit', "/tickets/edit?ticket_group_id=#{group.id}" %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<tr class="<%=group.id%>" style="display:none;"><%=render :partial=>"ticket_groups/view_seats", :locals=>{:tickets=>group.tickets}%></tr>
<%end%>
<%else%>
<tr><td>no tickets yet!</td></tr>
<%end%>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
