
<p>
  <b>Name:</b>
  <%= @venue.name %>, <%=@venue.city.name unless !@venue.city%> <%=@venue.region.name unless !@venue.region%>, <%=@venue.country.name unless !@venue.country%>
</p>
<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :capacity, "capacity (number)" %><br />
    <%= f.text_field :capacity %>
  </div>
<div class="field">
    <%= f.label :capacity_notes, "capacity (text field)" %><br />
    <%= f.text_field :capacity_notes %>
  </div>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<h3>Nearby venues</h2>
<ul>
<% for venue in @venue.nearbys%>
<li><%= link_to venue.name, "/venues/#{venue.id}" %> (<%=venue.distance%> miles)</li>
<%end%>
</ul>

	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=<%=@venue.latitude%>,+<%=@venue.longitude%>+(<%=@venue.name.gsub(/[^a-z1-9]+/i, '+')%>)&amp;hl=en&amp;ie=UTF8&amp;ll=<%=@venue.latitude%>,<%=@venue.longitude%>&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	<br />
	<small>
		<a href="http://maps.google.com/maps?q=<%=@venue.latitude%>,+<%=@venue.longitude%>+(<%=@venue.name.gsub(/[^a-z1-9]+/i, '+')%>)&amp;hl=en&amp;ie=UTF8&amp;ll=<%=@venue.latitude%>,<%=@venue.longitude%>&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
