<script type="text/javascript">
$(function() {
	$("table").tablesorter({ sortList: [[1,0]] });
})
</script>
<div class="container_16 top_30">
	<div class="grid_8 top_60">
<p>
  <b>Event:</b>
  <%= @custom_event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @custom_event.date %>
</p>
<%if @custom_event.venue_id%>
<p>
  <b>Venue:</b>
  <%= @custom_event.venue_id %>
</p>
<%end%>
	</div>
	<div class="grid_8">
<p>
	<%#= image_tag @custom_event.image.url %>
	<%= image_tag @custom_event.image.url(:medium) %>
	<%#= image_tag @custom_event.image.url(:thumb) %>
</p>
	</div>
</div>
<div class="container_16">
	<div class="grid_16">
<table class="zebra-striped">
	<thead>
		<tr>
			<th>Section</th>
			<th>Row</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Contact</th>
		</tr>
	</thead>
	<tbody>
		<%for ticket in @tickets do %>
		<tr>
			<td><%=ticket.ticket_group.section%></td>
			<td><%=ticket.ticket_group.row%></td>
			<td><%=ticket.ticket_group.quantity%></td>
			<td><%=ticket.cost%></td>
			<td><form id="call"><input type='tel' value='14048574679' readonly='true' /><input type="submit" value="call" /></form><%#=link_to "Contact", "/custom_tickets/call/#{ticket.ticket_group.id}"%></td>
		</tr>
		<%end%>
	</tbody>
</table>
<%= link_to "Sell tickets for this event", "/custom_tickets/new?custom_event_id=#{@custom_event.id}"%>

	</div>
</div>
