<script type="text/javascript">
/*
$(function(){
	
})
*/
</script>

	<div class="container_12">
		<div class="grid_6 left">
		<h3 style="color:#005BF2;">Pass the following test:</h3>

		<%= form_for(@beta_signup, :html=>{:id=>"form_contact"}) do |f| %>
		<% if @beta_signup.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@beta_signup.errors.count, "error") %> prohibited this beta_signup from being saved:</h2>

	      <ul>
	      <% @beta_signup.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

		  <div class="field">
		    <%= f.label :name, "What's your name?" %><br />
		    <%= f.text_field :name %>
		  </div>
		 <div class="field">
		    <%= f.label :email, "What's a good email address to reach you at?" %><br />
		    <%= f.text_field :email %>
		  </div>
		<div class="field">

			<%=f.label :zip, "Your 5 digit zip code, please"%><br />
			<%=f.text_field :zip%>
		  </div>
		<div class="field">
			<%=f.label :notes, "How did you hear about us?"%>
			<%=f.text_area :notes%>
		</div>
		<p><%= label_tag "select_role", "Which best describes you?", :class=>'checkbox_label' %><br />(check all that apply)<br />
			<% Role::AVAILABLE_ROLES.collect.each do |key, val|%>

			 <%= check_box_tag "beta_signup[role_ids][]", key, @beta_signup.role_ids.include?(key)%> <%=label_tag key, val, :class=>'checkbox_label'%><br />
			<%end%>
		</p>
		    <%= f.hidden_field :ip_address, :value=>request.remote_ip %>
			<p><%= f.submit "Sign up", :id=>"btn_submit" %></p>
			<% end %>
		    <%#= f.label :region_id %><br />
		    <%#= autocomplete_field_tag 'region_name', '', autocomplete_region_name_beta_signups_path, :id_element => '#some_element' %>
			<%#=f.hidden_field :region_id, :id=>"some_element"%>
			<%#= f.label :city_id %><br />
		    <%#= autocomplete_field_tag 'city_name', 'some stuff', autocomplete_city_name_beta_signups_path, :id_element => '#some_element2' %>
			<%#=f.hidden_field :city_id, :id=>"some_element2"%>
		  
		
			
			</div>
			<div class="aside grid_6 right">

				<h2>Buy and sell tickets with ease!</h2>
				<%=image_tag("/images/buyer.png", :class=>"iphone-img")%>
				<br />
				<%=image_tag("/images/seller.png", :class=>"iphone-img")%>
			</div>

</div>
